body {
    background-color: silver;
}

p {
    font-size: 12pt;
    font-weight: normal;
    color: black;
}

p:first-child {
    font-size: 16pt;
    font-weight: bold;
    color: red;
}

#pierwszy_makarau {
    background-color: rgb(144, 238, 144); 
    margin: auto;
    border: 5px solid black;
    border-radius: 5px 7px 7px;
    width: 80%;
}

#drugi_makarau {
    background-color: rgb(255, 192, 203); 
    border: 3px solid black;
    border-radius: 3px;
}

#trzeci_makarau {
    background-color: rgb(173, 216, 230); 
    margin: auto;
    border: 7px solid brown;
    border-radius: 7px;
}
